.container {
  height: 120%;
  width: 90%;
  display: block;
  margin: 0 auto;
  color: black;
}

.contato{
  width: 100%;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contato h2{
  margin-bottom: 15px;
}